.app {
  position: relative;
  min-height: 100vh;
  width: 98.8vw;
  background-color: #ffffff;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.section {
  padding: 1.5rem 0;
  min-height: calc(100vh - 60px); /* Assuming header is around 60px */
  display: flex;
  align-items: center;
}

.main-content {
  padding-top: 30px;
}

.footer {
  margin-top: 60px;
  padding: 1.5rem 0;
  text-align: center;
  background-color: #e9eff6;
}

#skills,#projects, #about {
  padding: 1.0rem 0;
}

/* #certificates{
  padding: 1.5rem 0;
} */

#contact{
  padding: 0.5rem 0;
}

#home {
  background-color: #ffffff;
}

#about, #projects, #contact {
  background-color: #ffffff;
}

#skills, #certificates {
  background-color: #ffffff;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .section {
    padding: 2rem 0;
    min-height: auto;
  }
  
  .container {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 480px) {
  .section {
    padding: 1.5rem 0;
  }
}