.app {
  position: relative;
  min-height: 100vh;
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.section-padding {
  padding: 3rem 0;
}

.main-content {
  padding-top: 40px; 
}

.footer {
  padding: 2rem 0;
  text-align: center;
  background-color: #ffffff;
  /* border-top: 1px solid #e5e5e5; */
}

#home {
  background-color: #ffffff;
}
/* 
#about, #skills, #projects, #certificates, #contact {
  border-bottom: 1px solid #e5e5e5;
} */

#about, #projects, #contact {
  background-color: #ffffff;
}

#skills, #certificates {
  background-color: #ffffff;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .section-padding {
    padding: 4rem 0;
  }
  
  .container {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 480px) {
  .section-padding {
    padding: 3rem 0;
  }
}